@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Albert Sans";
  src:
    local("Albert Sans"),
    url("./assets/fonts/Albert_Sans/AlbertSans-VariableFont_wght.ttf"),
    url("./assets/fonts/Albert_Sans/AlbertSans-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Dela Gothic One";
  src:
    local("Dela Gothic One"),
    url("./assets/fonts/Dela_Gothic_One/DelaGothicOne-Regular.ttf");
}
